{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="big"></div>
    <br>
    <div class="big"></div>
    <br>
    <div class="big"></div>
    <br>
    <div class="big"></div>
    <button class="scroll" id="scrollButton">
        <img src="../../../svg/scroll.svg" alt="scroll" class="scrollImg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}